@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom class to hide scrollbar */
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* custom class to remove round ends of radial prograess bar */
.radial-square::after {
	inset: unset;
}
.radial-square::before {
	background: conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
}

/* custom class to center dropdown */
.dropdown-center .dropdown-content {
	inset-inline: -35%;
}

@media (max-height: 550px) {
	#sidebar-height-breakpoint {
		display: none;
	}
	#navbar-height-breakpoint {
		display: flex;
	}
	#root-layout-breakpoint {
		flex-direction: column;
	}
	#theme-switcher-breakpoint {
		margin-top: 0;
	}
}
